<div id="article-<%=article.id %>">
  <div class="well well-lg">
    <div class="article-title">
      <%= link_to article.title, article_path(article) %>
    </div>
    <div class="article-body">
      <%= truncate(article.body, length: 500) %>
      <p>Created by <%= article.user.email %></p>
    </div>
  </div>
</div>
